* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px 40px;
    color: #4a0e81;
}
li,
ol {
    text-align: center;
    color: #020203;
}
ol,
li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    transition: 0.2s;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}