body{
    min-height: 100vh;
    background-image: url(./photos/cade-roberts-EpIUbeFrqwQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(13, 3, 2);
    margin-top: 8rem;
    font-family:Times New Roman;
    padding-top:20px;
    padding-right:20px;
    padding-bottom:20px;
    padding-left:20px;
}
img{
    width: 80%;
}
div{
    text-align: center;
    margin: .05rem;
    color: rgb(229, 255, 0);
}
h1{
    text-align: center;
    color: rgb(229, 255, 0);
}

#names{
    margin: .5rem;
    padding: .5rem;
    border: .5rem;
}
#world{
    margin: .5rem;
    border: .5rem;
    padding: .5rem;
}
#homeworld{
    margin: .5rem;
    padding: .5rem;
    border: .5rem;
}

