* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background-image: url('./jpg/marvin-the-martian-922dbe89-8fe5-4745-8cd5-e8956d8f894-resize-750.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    position: fixed; /* Stay fixed */
}


.containerGrid {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}

.container {
    margin: auto;
    width: 500px;
    max-width: 90%;
    grid-column: 1/2;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 2rem;
}

.listContainer{
    grid-column: 2/3;
    justify-self: flex-start;
    margin-top: 1rem;
    margin-left: 1rem;
}

.container form {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: cornsilk;
    border-radius: 15px;
    box-shadow: 0 8px 16px #838282;
}

.container form .form-control {
    width: 100%;
    height: 40px;
    background: white;
    border-radius: 4px;
    border: 1px solid silver;
    margin: 10px 0 18px 0;
    padding: 0 10px;
}

.container button {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 34px;
    border: none;
    outline: none;
    background: #778d59;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    transition: .3s;
}

.container button:hover {
    opacity: .7;
}

.container form h1 {
    text-align: center;
    margin-bottom: 24px;
    color: #130f10;
}

ul {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
    font-size: 20px;
}

li input,
li button {
    margin: 5px;
    outline: none;
    background: #778d59;
    cursor: pointer;
    border-radius: 4px;
    transition: .3s;
    color: white;
    
}