*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:DodgerBlue;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    text-shadow: rgb(150, 150, 150) 1px 3px 0px, rgb(171, 168, 168) 1px 13px 5px;
--darkreader-inline-color: #e8e6e3;
--darkreader-inline-bgimage: initial;
--darkreader-inline-bgcolor: #181a1b;
    /* background-image: url("../../media/examples/lizard.png"); */


    
    /* font-family: ; */
    padding: 30px 40px;
   
}
li,
ol {
    text-align:center;
    color: #020203;
}
/* ol,
li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    transition: 0.2s;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */